<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= post.title %></title>
    <link href="/board/css/top.css" type="text/css" rel="stylesheet" />
  </head>
  <style>
    .writerHr {
      width: 1200px;
    }
    .writer {
      margin: 20px 170px 0px;
    }
    #postContainer {
      background-color: #ebebeb;
      padding-bottom: 20px;
      margin: 0px 150px 40px;
    }
    .post {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .postTitle {
      margin: 50px 0px 20px;
      width: 1100px;
      height: 70px;
      border-radius: 10px;
      font-size: 20px;
      padding-left: 40px;
      background: #d9d9d9;
    }
    textarea {
      border-radius: 10px;
      width: 1084px;
      height: 350px;
      padding: 20px 30px 0px;
      background: #d9d9d9;
    }
    .formContainer {
      margin: 20px 40px 10px;
      display: flex;
      justify-content: flex-end;
    }
    .formContainer > form > input {
      border-radius: 40px;
      background: #d9d9d9;
      border: #d9d9d9 solid;
      width: 100px;
      height: 45px;
      margin-top: 5px;
      color: #000;
      font-family: Inter;
      font-size: 15px;
      font-weight: 300;
    }
    form {
      margin-left: 10px;
      display: inline-block;
    }
  </style>
  <body>
    <%- include('./layout/header') %>
    <div class="writer"><%= post.writer %>님 질문</div>
    <hr class="writerHr" />
    <div id="postContainer">
      <div class="post">
        <input
          name="title"
          class="postTitle"
          type="text"
          value="<%= post.title %>"
          readonly
        />
        <textarea readonly><%= post.content %></textarea>
      </div>
      <%if(user.userID == post.userID) {%>
      <div class="formContainer">
        <form method="get" action="/post/update/<%= post.postID %>">
          <input type="submit" value="글 수정" />
        </form>
        <form
          method="post"
          action="/post/delete/<%= post.postID %>?_method=delete"
        >
          <input type="submit" value="글 삭제" />
        </form>
      </div>
      <%}%>
    </div>
  </body>
</html>
